#content {
  text-align: center;
  color: blue;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
  letter-spacing: 5px;
}

ul {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  padding: 5px;
  background: black;
  color: white;
}

li:nth-child(odd){
  background: white;
  color: black;
}

button {
  display: block;
  margin: auto;
  margin-top: 15px;
}
