* {
  box-sizing: border-box;
}

.col-1 {width: 20%}
.col-2 {width: 40%}
.col-3 {width: 60%}
.col-4 {width: 80%}
.col-5 {width: 100%}


#content {
  text-align: center;
  color: blue;
  font-family: 'Roboto', sans-serif;
}


/*.description:hover {
  display: block;
  background-color: green;
}*/

.poster {
  position: relative;
}

.poster:hover {
  opacity: 0.5;
}

.poster:hover > .description {
  display: block;
  z-index: 10;
}

.description {
  color: black;
  display: none;
  position: absolute;
  width: 100%;
  height: 95%;
  top: 0;
  left: 0;
  padding: 12px;
  overflow: scroll;
}

h1 {
  font-size: 40px;
  letter-spacing: 5px;
}

ul {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 0;
  list-style: none;
  width: 155px;
  color: black;
}

li p{
  margin: 10px;
}
div.movieList {
  padding: 10px;
  position: relative;
}

button {
  display: block;
  margin: auto;
  margin-top: 15px;
}
